@import './utils/_mixins';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  user-select: none;
}
body {
  padding-bottom: 70px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: default;
}
.container {
  max-width: 1380px;
  padding: 0 15px;
  margin: 0 auto;
}

@include responsive(md) {
  body {
    padding-bottom: 0;
  }
  .container {
    padding: 0 30px;
  }
}
@include responsive(lg) {
  a {
    cursor: pointer;
  }
}
