@import "../utils/_mixins.scss";
.Hamburger {
  position: relative;
  width: 20px;
  height: 15px;
  z-index: 1;
  .Hamburger__bar {
    position: absolute;
    left: 0;
    transition: all 0.3s;
    width: 100%;
    height: 2px;
    background-color: #1e272e;
    border-radius: 1px;
    transform: translateY(0) rotate(0deg);
    &:first-child {
      top: 0px;
    }
    &:nth-child(2) {
      top: 5px;
    }
    &:last-child {
      top: 10px;
    }
  }
}
.rotate {
  .Hamburger__bar {
    &:first-child {
      transform: rotate(45deg) translate(2px, 7px);
    }
    &:nth-child(2) {
      transition: none;
      opacity: 0;
      visibility: hidden;
    }
    &:last-child {
      transform: rotate(-45deg) translateY(-5px);
    }
  }
}
@include responsive(md) {
  .Hamburger {
    z-index: 0;
  }
}
