@import '../../utils/_mixins.scss';
@import '../../utils/_variables.scss';
.list {
  padding: 0 40px;
  &__link {
    @include font(14px, 500, $secondaryColor);
  }
}
.header {
  @include flex(space-between, center);
  max-width: 613px;
  flex-grow: 1;
}
.footer {
  @include flex(center, center, 0 40px);
  margin-top: 40px;
}
