@import '../../utils/_mixins.scss';
@import '../../utils/_variables.scss';
.wrapper {
  margin-top: 67px;
  .range__group {
    min-height: 84px;
  }
  .sort__group {
    margin-top: 45px;
  }
  .input__group {
    @include flex(_, center, 0 10px);
    margin-bottom: 15px;
  }
  .input__control {
    position: relative;
    appearance: none;
    color: $primaryColor;
    width: 18px;
    height: 18px;
    border: 2px solid $primaryColor;
    border-radius: 50%;
    &::before {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      width: 9px;
      height: 9px;
      background-color: $primaryColor;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      transition: all $transitionTime;
      opacity: 0;
      visibility: hidden;
    }
    &:checked::before {
      opacity: 1;
      visibility: visible;
    }
  }
}
