@import '../../utils/_mixins.scss';
@import '../../utils/_variables.scss';

.wrapper {
  position: fixed;
  left: -100%;
  top: 0;
  width: 290px;
  height: calc(100% - 59px);
  background-color: #ffffff;
  padding: 30px;
  overflow-y: auto;
  transition: all $transitionTime;
  z-index: 1;
  .close__icon {
    position: fixed;
    top: 0;
    width: 265px;
    height: 48px;
    display: flex;
    align-items: flex-end;
    background-color: #ffffff;
    display: none;
  }
  .close_icon__show {
    display: flex;
  }
  .overlay {
    position: fixed;
    right: -100%;
    top: 0;
    width: calc(100vw - 290px);
    height: calc(100% - 60px);
    background-color: #{$secondaryColor}66;
    transition: all $transitionTime;
  }
  .overlay__right {
    left: -100%;
  }
}
.sidebar__right {
  left: unset;
  right: -100%;
}

@include responsive(md) {
  .wrapper {
    width: 340px;
    height: 100vh;
    .close__icon {
      display: flex;
    }
    .overlay {
      width: calc(100vw - 340px);
      height: 100vh;
    }
  }
}
