@import '../../utils/_variables.scss';
@import '../../utils/_mixins.scss';
.switches {
  position: absolute;
  display: flex;
  gap: 0 8px;
  left: 50%;
  bottom: 10px;
  transform: translate(-50%);
  &__item {
    background-color: rgba(30, 39, 46, 0.3);
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }
  .active {
    background-color: $primaryColor;
  }
}
@include responsive(md) {
  .switches {
    gap: 0 10px;
    bottom: 20px;
    &__item {
      width: 10px;
      height: 10px;
    }
  }
}
@include responsive(lg) {
  .switches {
    &__item {
      width: 12px;
      height: 12px;
      cursor: pointer;
    }
  }
}
