@import '../utils/_mixins.scss';
@import '../utils/_variables.scss';
.layout {
  margin-top: 50px;
  .header {
    @include flex(space-between);
    margin-bottom: 20px;
  }
}
@include responsive(md) {
  .layout {
    margin-top: 80px;
    .header {
      margin-bottom: 25px;
    }
  }
}
@include responsive(xl) {
  .layout {
    margin-top: 100px;
  }
}
